<h2>Edit Message</h2>

<%= form_with(model: [@discussion.project, @discussion, @message], url: project_discussion_message_path(@discussion.project, @discussion, @message), local: true) do |form| %>
  <div>
    <%= form.text_area :content, class: "form-control" %>
  </div>
  <div>
    <%= form.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>
